* {
    font-size: 1.5rem;
}

body {
    background: url("../assets/background.jpg") no-repeat;
    background-size: cover;
    color: #fff;
    padding: 1rem;
}

form {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.send {
    display: flex;
    background: url("../assets/gouvernail.png") no-repeat center;
    background-size: contain;
    border: none;
    width: 3rem;
}

ul {
    display: flex;
    flex-flow: column;
    justify-content: left;
    list-style-type: none;
}

input{
    border-radius: 10px;
    padding: 10px;
}